/*.launch
TestApp/deployment/
TestApp/packages/
TestApp/releases/
TestApp/.mendix-cache/
TestApp/.classpath
TestApp/.project
TestApp/testapp.mpr.bak
TestApp/testapp.mpr.lock
TestApp/modeler-merge-marker
TestApp/project-settings.user.json
TestApp/javasource/*/proxies/
TestApp/javasource/system/
TestApp/**/node_modules/
TestApp/!/javascriptsource/**/node_modules/
TestApp/nativemobile/builds/
TestApp/vendorlib/temp/
.DS_Store
/.svn/
TestApp/mprcontents/mprjournal*
TestApp/theme-cache/web/theme.compiled.css
TestApp/theme-cache/web/theme.compiled.css.map
TestApp/modules/javasource/*/proxies/*
TestApp/modules/javasource/system/*
